.product-detail-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: #fff;

}

.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.sub-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.main-image {
  width: 300px;
  object-fit: cover;
  border-radius: 6px;
}


.variation-table {
 width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  font-family: Arial, sans-serif;
  font-size: 14px;
}


/* Header */
.variation-table th {
  background-color: #2d3748; /* xanh đậm */
  color: #ffffff;
}

.variation-table thead th {
  padding: 12px 16px;
  text-align: left;
  font-weight: 600;
}

/* Body */
.variation-table tbody td {
  border: 1px solid #e5e7eb;
  padding: 10px 16px;
  color: #333;
}


.btn-back {
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.product-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* Header */
.product-table th {
  background-color: #2d3748; /* xanh đậm */
  color: #ffffff;
}

.product-table thead th {
  padding: 12px 16px;
  text-align: left;
  font-weight: 600;
}

/* Body */
.product-table tbody td {
  border: 1px solid #e5e7eb;
  padding: 10px 16px;
  color: #333;
}

/* Hover row */
.product-table tbody tr:hover {
  background-color: #f9fafb;
  transition: background 0.2s ease-in-out;
}

/* Row xen kẽ */
.product-table tbody tr:nth-child(even) {
  background-color: #f3f4f6;
}

/* Text màu cho nổi bật */
.product-table td span.green {
  color: #16a34a;
  font-weight: bold;
}

.product-table td span.red {
  color: #dc2626;
  font-weight: bold;
}
h3 {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 2px;
  color: #2d3748;   /* xanh đậm */
  border-left: 4px solid #2a284f; /* viền trang trí bên trái */
  padding-left: 8px;
}
